* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.5;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
}
